* html {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin-left: 0px;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

:root {
  --bg-secondary: #e5e5e5;
  --border-header: #ececec;
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --backgraund-main: #e5e5e5;
  --backdraund-black: #2f303a;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --white-text-color: #ffffff;
  --bg-button-color: #f5f4fa;
  --button-hover-color: #188ce8;
  --border-portfolio: #eeeeee;
  --logo-header-black: #000000;
  --clients-link-border: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

body {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  /* padding-top: 24px;
  padding-bottom: 32px; */
  border-bottom: solid 1px var(--border-header);
}

/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  transition: color var(--timing-function) var(--transition-duration);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.auth-nav {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-items: center;
  transition: color var(--timing-function) var(--transition-duration);
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}

.auth-nav:hover, .auth-nav:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
  }
}

.email-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
}

.auth-nav .mail:hover .email-icon,
.auth-nav .mail:focus .email-icon {
  fill: var(--accent-color);
}

.smartphone-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
}

.auth-nav .phone:hover .smartphone-icon,
.auth-nav .phone:focus .smartphone-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail {
    display: flex;
    padding-top: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .phone {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header-link > .auth-nav {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.auth-nav-group {
  margin-left: auto;
  display: flex;
}

.navigation {
  display: flex;
}

.nav-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav .current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}

.site-nav .current::after, .site-nav .current::after {
  opacity: 1;
  border-radius: 2px;
}

.header-link {
  display: block;
}

.header-link:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-link {
    display: inline;
    margin-right: 0;
  }
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  /* align-items: center; */
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    width: 480px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
}

.menu-open-btn {
  margin-left: auto;
  padding: 12px 8px;
  background-color: var(--white-text-color);
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-open-btn__icon {
  transition: fill var(--timing-function) var(--transition-duration);
}

.menu-open-btn__icon:hover {
  fill: var(--accent-color);
}

.menu-close-btn__icon {
  transition: fill var(--timing-function) var(--transition-duration);
}

.menu-close-btn__icon:hover {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  background-color: var(--white-text-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  opacity: 1;
  transition: opacity var(--timing-function) var(--transition-duration), visibility var(--timing-function) var(--transition-duration);
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  display: block;
  margin-left: auto;
  padding: 12px 8px;
  background-color: var(--white-text-color);
}

.menu-close-btn:hover, .menu-close-btn:focus {
  color: var(--accent-color);
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: var(--accent-color);
  transition: var(--timing-function) var(--transition-duration);
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-connect__tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mob-connect__mail {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mob-menu__connect {
  margin-bottom: 64px;
}

.mob-menu-social {
  display: flex;
  flex-direction: row;
}

.mob-menu-social__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  color: var(--logo-header-black);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 93px;
}

.logo-accent {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .section__features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section__features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__activity {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .team-bg {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team-bg {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .section-portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
}

.section-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
}

/* .activity .list {
  display: flex;
} */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--timing-function) var(--transition-duration), visibility var(--timing-function) var(--transition-duration);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--white-text-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--timing-function);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close-modal {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  background: var(--white-text-color);
  right: 8px;
  top: 8px;
  padding: 6px;
  cursor: pointer;
}

.close-modal__icon {
  transition: fill var(--timing-function) var(--transition-duration);
}

.close-modal__icon:hover {
  fill: var(--accent-color);
}

.form {
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
}

.form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-color: solid 1px var(--accent-color);
}

/* .form-group input:hover, */
.form__group input:focus {
  border-color: var(--accent-color);
}

.form__group input {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  min-height: 40px;
  width: 100%;
  cursor: pointer;
}

.form__group label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.form-group-span {
  position: relative;
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.textarea {
  position: relative;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  min-height: 120px;
  cursor: pointer;
}

.textarea:focus {
  border-color: var(--accent-color);
}

.textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
}

.icon-modal {
  position: absolute;
  display: inline-block;
  /* transform: translateY(250%); */
  width: 12px;
  height: 12px;
  /* top: 11px;
  left: 12px; */
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form-input:focus ~ .icon-modal {
  fill: var(--accent-color);
}

.form-agreement {
  display: flex;
  justify-content: center;
}

.agree-text {
  width: 100%;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;
  /* display: inline-flex; */
}

@media screen and (min-width: 1200px) {
  .agree-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
  }
}

/* Checkbox first exsample */
/* .agree-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
}
.agree-check:checked + .agree-text::before {
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/check-second.svg);
} */
/* Checkbox second exsample */
.agree-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agree-icon {
  fill: transparent;
}

.agree-check:checked + .agree-text .agree-icon {
  fill: var(--white-text-color);
}

.agree-check:checked + .agree-text span {
  background-color: var(--accent-color);
  border: none;
  fill: var(--white-text-color);
}

.agree-link {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .agree-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-btn-submit {
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color var(--timing-function) var(--transition-duration);
}

.modal-btn-submit:hover, .modal-btn-submit:hover {
  background-color: var(--button-hover-color);
}

.hero {
  background-color: var(--backdraund-black);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  align-items: center;
  /* padding-bottom: 200px;
  padding-top: 200px; */
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desk-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desk-2x.jpg);
  }
}

.hero__wrap {
  padding-bottom: 118px;
  padding-top: 118px;
  /* height: 600px;
  outline: 10px solid red;
  max-width: 1600px; */
}

@media screen and (min-width: 1200px) {
  .hero__wrap {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

/* .section .hero {
  padding-bottom: 200px;
} */
.hero__title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  /* padding-top: 200px; */
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  display: inline-block;
  cursor: pointer;
  transition: background-color var(--timing-function) var(--transition-duration);
}

.hero__button:hover, .hero__button:hover {
  background-color: var(--button-hover-color);
}

/* .list > .item {
  margin-bottom: 10px;
  margin-right: 30px;
  flex-basis: calc(100% / 4);
}
.list > .item:last-child {
  margin-right: 0px;
} */
.features-description__title {
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features-description__title {
    text-align: center;
  }
}

.features-description__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
}

.features-description__thumb {
  width: 100%;
  height: 120px;
  background-color: var(--bg-button-color);
  border-radius: 4px;
  display: flex;
  background-size: auto;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.features-description__icon {
  display: block;
}

@media screen and (min-width: 768px) {
  .features-description {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-description {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .features-description > .features-description__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-description > .features-description__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.section__features > .features-description__item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1199px) {
  .features-description__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section__activity > .activity__list {
  display: flex;
  justify-content: space-between;
}

.activity__photo:not(:last-child) {
  margin-right: 30px;
}

.activity__image.no-gap {
  display: block;
}

.activity__photo-thumb {
  position: relative;
}

.activity__photo-thumb::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
}

.activity__description {
  content: '';
  display: inline-block;
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-left: 82px;
  padding-bottom: 27px;
  padding-left: 83px;
}

.team-bg {
  background-color: var(--bg-button-color);
}

.team-card__photo.no-gap {
  display: block;
}

.team__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-card__possition {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team-card {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-card {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    width: 1200px;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}

/* .team-card:not(:last-child) {
  margin-right: 30px;}
  /* margin-top: -30px;
  margin-bottom: -30px; */
/* .card-list { */
/* margin-top: 30px;
  margin-bottom: 30px; */
/* .card-list * {
  outline: solid 1px tomato;
} */
.team-card__list {
  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-card__list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-card__list {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card__list {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.team-card__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--timing-function) var(--transition-duration);
}

.team-social__link:hover, .team-social__link:focus {
  background-color: var(--accent-color);
}

.team-social__item + .team-social__item {
  margin-left: 10px;
}

.team-social__icon {
  fill: #afb1b8;
  transition: background-color var(--timing-function) var(--transition-duration);
  transition: fill var(--timing-function) var(--transition-duration);
}

.team-social__link:hover .team-social__icon,
.team-social__link:focus .team-social__icon {
  fill: var(--white-text-color);
}

.clients-box__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .clients-box__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients-list__item {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients-list__link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--clients-link-border);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color var(--timing-function) var(--transition-duration);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__logo {
  fill: var(--clients-link-border);
  transition: fill var(--timing-function) var(--transition-duration);
}

.clients-list__link:hover .clients-list__logo,
.clients-list__link:focus .clients-list__logo {
  fill: var(--accent-color);
}

.button-list {
  background-color: var(--bg-button-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  cursor: pointer;
  transition: background-color var(--timing-function) var(--transition-duration), color var(--timing-function) var(--transition-duration), box-shadow var(--timing-function) var(--transition-duration);
}

.button-list:hover, .button-list:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  /* outline: solid teal; */
  padding: 0px;
  margin: 0;
  display: flex;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .button {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .btn-portfolio:not(:last-child) {
    margin-bottom: 15px;
  }
}

.btn-portfolio:not(:last-child) {
  margin-right: 8px;
}

/* .btn-portfolio {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
} */
@media screen and (min-width: 768px) {
  .cards-portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .cards-portfolio {
    flex-basis: calc(100% / 3- 30px);
  }
}

.portfolio {
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    /* justify-content: space-between; */
  }
}

@media screen and (min-width: 768px) {
  .item-portfolio {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .item-portfolio {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .item-portfolio:not(:last-child) {
    margin-bottom: 30px;
  }
}

.item-wrap {
  width: 100%;
  border-bottom: 1px solid var(--border-portfolio);
  transition: box-shadow var(--timing-function) var(--transition-duration);
}

.item-wrap:hover, .item-wrap:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img-text-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-text-description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--timing-function) var(--transition-duration);
}

.item-portfolio:hover .portfolio-text-description,
.item-portfolio:focus .portfolio-text-description {
  transform: translateY(0);
}

.portfolio-text-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid var(--border-portfolio);
}

.portfolio-image .no-gap {
  display: block;
}

/* display: inline-block;
   content: '';
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
}

/* .portfolio-img-text-thumb {
  overflow: hidden;
}

.portfolio-img-text-thumb::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
} */
/* .portfolio-img-text-thumb:hover::before,
.portfolio-img-text-thumb:focus::before {
  opacity: 1;
} */
/* .item-wrap .portfolio-img-text-thumb::before {
  opacity: 1;
  transform: translateY(0);
} */
/* .portfolio-text-description::before {
  position: absolute;
  content: '';
  display: inline-block;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
 
  color: var(--white-text-color);
  top: 50%;
  left: 50%;
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 322px;
  height: 168px;
} */
/* .portfolio-text-description:hover::before,
.portfolio-text-description:focus::before {
  opacity: 1;
}  */
/* .item-portfolio:not(:last-child) {
  margin-right: 30px;
  outline: solid teal;
}
.item-portfolio:nth-last-child(-n + 3) {
  margin-bottom: 30px;
} */
@media screen and (min-width: 768px) {
  .footer__wrap--general {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrap--general {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrap--general {
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer-contacts__logo-footer {
  color: var(--white-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts__logo-footer {
    font-size: 26px;
    line-height: 1.19;
  }
}

.address-text {
  font-style: normal;
}

.address-city {
  font-style: normal;
}

.address-city__address {
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  display: block;
  margin-bottom: 9px;
  transition: color var(--timing-function) var(--transition-duration);
}

.address-city__address:hover, .address-city__address:focus {
  color: var(--accent-color);
}

.address-text__contacts-main {
  color: var(--contacts-text-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  display: block;
  transition: color var(--timing-function) var(--transition-duration);
}

.address-text__contacts-main:hover, .address-text__contacts-main:focus {
  color: var(--accent-color);
}

.address-text__contacts-main:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-email {
  display: inline-block;
}

.footer {
  background-color: var(--backdraund-black);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-title {
  text-align: center;
  color: var(--white-text-color);
  margin-bottom: 20px;
  height: 16px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0;
}

.footer-social-box {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social-box {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 70px;
  }
}

@media screen and (max-width: 768px) {
  .footer-social-box {
    margin-bottom: 60px;
    width: 100%;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--timing-function) var(--transition-duration);
}

.footer-social-list__link:hover, .footer-social-list__link:focus {
  background-color: var(--accent-color);
}

.footer-social-list__item + .footer-social-list__item {
  margin-left: 10px;
}

.footer-social-list__icon {
  fill: var(--white-text-color);
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    white-space: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-wrap {
    display: flex;
  }
}

.footer__subscribe-box {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__subscribe-box {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__subscribe-box {
    align-items: stretch;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe-box {
    margin-left: 93px;
    align-items: baseline;
    justify-content: flex-start;
  }
}

.footer__subscribe-box .footer-right-btn-wrap {
  display: flex;
}

.footer__subscribe-box .btn-footer {
  /* position: relative; */
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  flex-direction: row;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color var(--timing-function) var(--transition-duration);
}

.footer__subscribe-box .btn-footer:hover, .footer__subscribe-box .btn-footer:focus {
  background-color: var(--button-hover-color);
}

.footer__subscribe-box .btn-footer__icon {
  display: inline-block;
  margin-left: 10px;
  /* position: absolute; */
  fill: var(--white-text-color);
}

.footer__subscribe-box .subscribe-wrap__mail-input {
  color: var(--white-text-color);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--backdraund-black);
  margin-right: 12px;
}

.footer__subscribe-box .subscribe-wrap__mail-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  /* display: flex; */
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .footer__subscribe-box .subscribe-wrap__mail-input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__subscribe-box .subscribe-wrap__mail-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe-box .subscribe-wrap__mail-input {
    width: 358px;
  }
}
/*# sourceMappingURL=main.css.map */