.hero {
  background-color: var(--backdraund-black);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  align-items: center;
  /* padding-bottom: 200px;
  padding-top: 200px; */
}
.hero__wrap {
  padding-bottom: 200px;
  padding-top: 200px;
  /* height: 600px;
  outline: 10px solid red;
  max-width: 1600px; */
}
/* .section .hero {
  padding-bottom: 200px;
} */
.hero__title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  /* padding-top: 200px; */
}
.hero__button {
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  display: inline-block;
  cursor: pointer;
  transition: background-color var(--timing-function) var(--transition-duration);
  &:hover,
  &:hover {
    background-color: var(--button-hover-color);
  }
}

/* .list > .item {
  margin-bottom: 10px;
  margin-right: 30px;
  flex-basis: calc(100% / 4);
}
.list > .item:last-child {
  margin-right: 0px;
} */
