/* .section > .team {
  padding-bottom: 94px;
} */

.team-bg {
  background-color: var(--bg-button-color);
  padding-bottom: 94px;
}
.team-card__photo.no-gap {
  display: block;
}
.team__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
.team-card__possition {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.team-card {
  display: flex;
  justify-content: space-around;
}
/* .team-card:not(:last-child) {
  margin-right: 30px;}
  /* margin-top: -30px;
  margin-bottom: -30px; */

/* .card-list { */
/* margin-top: 30px;
  margin-bottom: 30px; */
/* .card-list * {
  outline: solid 1px tomato;
} */

.team-card__list {
  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.team-card__content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-social {
  display: flex;
  justify-content: center;
}
.team-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--timing-function) var(--transition-duration);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.team-social__item {
  & + & {
    margin-left: 10px;
  }
}

.team-social__icon {
  fill: #afb1b8;
  transition: background-color var(--timing-function) var(--transition-duration);
  transition: fill var(--timing-function) var(--transition-duration);
  .team-social__link:hover &,
  .team-social__link:focus & {
    fill: var(--white-text-color);
  }
}
