.logo {
  color: var(--logo-header-black);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 93px;
}
.logo-accent {
  color: var(--accent-color);
}
