.page-header {
  /* padding-top: 24px;
  padding-bottom: 32px; */
  border-bottom: solid 1px var(--border-header);
}

/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  transition: color var(--timing-function) var(--transition-duration);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.auth-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color var(--timing-function) var(--transition-duration);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.email-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  .auth-nav .mail:hover &,
  .auth-nav .mail:focus & {
    fill: var(--accent-color);
  }
}

.smartphone-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  .auth-nav .phone:hover &,
  .auth-nav .phone:focus & {
    fill: var(--accent-color);
  }
}

.header-link > .auth-nav {
  padding-top: 32px;
  padding-bottom: 32px;
}
.auth-nav-group {
  margin-left: auto;
  display: flex;
}

.navigation {
  display: flex;
}
.nav-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .current {
  color: var(--accent-color);
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
  }
  &::after,
  &::after {
    opacity: 1;
    border-radius: 2px;
  }
}

.header-link {
  display: block;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header {
  display: flex;
  /* align-items: center; */
}

.menu-open-btn {
  margin-left: auto;
  padding: 12px 8px;
  background-color: var(--white-text-color);
}

.menu-open-btn__icon {
  transition: fill var(--timing-function) var(--transition-duration);
  &:hover {
    fill: var(--accent-color);
  }
}

.menu-close-btn__icon {
  transition: fill var(--timing-function) var(--transition-duration);
  &:hover {
    fill: var(--accent-color);
  }
}

.mob-menu {
  position: fixed;
  background-color: var(--white-text-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
}

.menu-close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  display: block;
  margin-left: auto;
  padding: 12px 8px;
  background-color: var(--white-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: var(--timing-function) var(--transition-duration);
  }
}

.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-connect__tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mob-connect__mail {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mob-menu__connect {
  margin-bottom: 64px;
}

.mob-menu-social {
  display: flex;
  flex-direction: row;
}

.mob-menu-social__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.mob-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
