:root {
  --bg-secondary: #e5e5e5;
  --border-header: #ececec;
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --backgraund-main: #e5e5e5;
  --backdraund-black: #2f303a;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --white-text-color: #ffffff;
  --bg-button-color: #f5f4fa;
  --button-hover-color: #188ce8;
  --border-portfolio: #eeeeee;
  --logo-header-black: #000000;
  --clients-link-border: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
